.w-full {
   width: 100%;
}

.logoSize {
   width: 35px;
}

.LogoGroup {
   display: grid;
   align-items: center;
   justify-content: flex-start;
   grid-gap: 15px;
   grid-auto-flow: column;
}

.TopBarIcons {
   width: 25px;
}

.MainImg {
   padding: 1rem;
}

.header-md::after {
   display: none;
}

.title-large {
   font-weight: 600;
   color: var(--ion-color-primary);
}

.flex {
   display: flex;
}

.TabIcon {
   width: 25px;
   margin-bottom: 5px;
}

.BoxContent {
   text-align: left;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: 0px;
}

.ProPrice {
   font-weight: 600 !important;
   font-size: 16px !important;
}

.TextContent {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.ChipDesign {
   font-weight: 800;
   margin: 0;
   border-radius: 5px;
   padding: 2px 5px;
   height: auto;
   color: #00a94f;
   background: #e5f7ee;
   font-size: 12px;
}

.linethro {
   text-decoration: line-through;
}

.RateDesign {
   font-weight: 800;
   margin: 0;
   border-radius: 30px;
   padding: 2px 10px;
   height: auto;
   color: #fff;
   background: #ffc10e;
   font-size: 12px;
}

.RateDesign ion-icon {
   width: 15px;
}

.AddToCart {
   margin: 0;
}

.SmartKitchen img.icon-img {
   width: 20px;
}

.SmartKitchen {
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}

.BookMark {
   position: absolute;
   right: 0;
   top: 0;
}

/* Modal Popup */

.loginModal::part(content) {
   height: auto;
   margin-top: auto;
   border-radius: 30px 30px 0 0;
   overflow: visible;
   background: #efeff1;
}

.ForgotModal::part(content) {
   height: auto;
   border-radius: 30px;
   background: #efeff1;
   width: 80%;
}

.loginModal::part(backdrop),
.ForgotModal::part(backdrop) {
   opacity: 0.8 !important;
}

.loginContainer {
   padding: 0 35px 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.loginContainer .closeButton {
   margin: -20px auto 0;
   width: 40px;
   height: 40px;
   --border-radius: 3px;
   --background: #fff;
}

.loginContainer .closeButton ion-icon {
   fill: #8f1a1d;
}

.loginContainer .title {
   text-align: center;
   display: block;
   padding: 30px 0px;
   font-size: 24px;
   font-weight: 600;
}

.loginForm {
   width: 100%;
   margin: 0 0 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.loginInput {
   position: relative;
}

.loginInput img {
   position: absolute;
   z-index: 3;
   top: 50%;
   transform: translateY(-50%);
   left: 15px;
}

.loginInput ion-input input {
   padding-left: 50px !important;
}

.forgotPass {
   font-size: 13px;
   padding: 10px 0;
   color: #515151;
}

.contactNumber-inputGroup {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 0 0 20px;
   width: 100%;
   max-width: 270px;
}

.contactNumber-inputGroup ion-text {
   font-size: 22px;
}

.loginContainer ion-input {
   --padding-top: 10px;
   --padding-end: 15px;
   --padding-bottom: 10px;
   --padding-start: 15px;
   --background: #fff;
   font-size: 14px;
   border-radius: 10px;
   border: 1px solid #ccc;
}

.loginContainer ion-input input {
   min-height: 44px;
}

.OTPGroup {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   max-width: 270px;
   margin: auto;
}

.OTPInput {
   display: flex;
   gap: 20px;
   justify-content: space-between;
}

.OTPInput ion-input {
   min-width: 44px;
   max-width: 44px;
   border-radius: 0;
   --padding-top: 5px;
   --padding-end: 5px;
   --padding-bottom: 5px;
   --padding-start: 5px;
   text-align: center;
}

.OTPInput ion-input input {
   text-align: center;
}

.btnGroup {
   display: flex;
   gap: 15px;
}

.btnGroup ion-button {
   margin: 0;
   width: 100%;
   min-height: 44px;
}

.btnGroup ion-button.yallow-btn {
   --background: #f3ae26;
}

.resendCode {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 5px;
   color: #515151;
}

.resendCode ion-text {
   color: #8f1a1d;
   font-weight: 600;
}

.resendCode ion-button::part(native) {
   padding: 5px;
   letter-spacing: 0;
   font-weight: bold;
}

.orDivider {
   display: flex;
   justify-content: center;
   margin: 25px 0;
   align-items: center;
   position: relative;
   gap: 10px;
}

.orDivider:after {
   content: '';
   width: 100px;
   height: 1px;
   background: #ddd;
}

.orDivider:before {
   content: '';
   width: 100px;
   height: 1px;
   background: #ddd;
}

.orDivider span {
   font-size: 16px;
   font-weight: bold;
   color: #bbb;
}

.SignupGroup {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.SignupSocials {
   display: flex;
   gap: 30px;
}

.SignupSocials ion-button {
   margin: 0;
   height: auto;
}

.SignupSocials ion-button::part(native) {
   padding: 0;
}

.SignupSocials ion-button img {
   height: 34px;
}

.SignupGroup ion-text {
   font-size: 18px;
   color: #515151;
}

.TermsGroup {
   margin: 30px -30px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
}


.checkGroup {
   display: flex;
   gap: 10px;
}

.checkGroup ion-checkbox {
   min-width: fit-content;
}

.checkGroup ion-text {
   font-size: 13px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 5px;
}

.checkGroup ion-text ion-text {
   color: #1a42ba;
}

.checkGroup ion-text ion-button::part(native) {
   padding: 0;
}

.ForgotModal .loginContainer {
   padding: 0 30px 30px;
}

.ForgotModal .loginForm {
   margin: 0;
   gap: 20px;
}

.ForgotModal .btnGroup {
   justify-content: center;
}

.ForgotModal .btnGroup ion-button {
   width: fit-content;
}


@media (max-width: 375px) {
   .checkGroup ion-text {
      font-size: 12px;
   }

   .checkGroup ion-text ion-button {
      font-size: 12px;
   }
}

@media (max-width: 360px) {
   .loginContainer .title {
      font-size: 22px;
   }
}

@media (max-width: 320px) {

   .loginContainer .title {
      padding: 20px 0px;
      font-size: 16px;
   }

   .contactNumber-inputGroup ion-input input {
      min-height: 40px;
   }

   .OTPInput ion-input {
      min-width: 40px;
      max-width: 40px;
   }

   .OTPInput ion-input input {
      min-height: 40px;
   }

   .orDivider span,
   .resendCode {
      font-size: 14px;
   }

   .SignupGroup ion-text {
      font-size: 16px;
   }

   .checkGroup ion-text,
   .checkGroup ion-text ion-button {
      font-size: 10px;
   }

   .SignupGroup {
      gap: 15px;
      margin: 0 0 20px;
   }
}

/* Modal Popup end */