.categoryPage ion-toolbar {
    --border-style: none;
}

.categoryCard {
    text-align: center;
    box-shadow: none;
    margin: 0;
}

.productCardActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.productCardAction {
    font-size: 1.1rem;
}

.productCardHeader {
    min-height: 17rem;
    
}
.chefhat{
    max-width: 25px;
}

.chefhatbtn{
    max-width: 20px;
}

.productCardHeader p {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
}

.categoryCardContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.categoryCardContent ion-button {
    font-size: 0.8rem;
}

.categoryCardContent p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.productPrice {
    display: flex;
    flex-direction: row;
}
.boxcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0px;
}

.titleNames{
    display: flex;
    flex-direction: column;
    text-align: start;
    row-gap: 5px;
    font-weight: bold;
    
    color: #000;
}

.titleNames span{
    font-size: 14px;
    color: #9a1a0a;
}

.raterp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    column-gap: 10px;
}

.TextContent{
    display: flex;
    justify-content: start;
    column-gap: 10px;
    align-items: center;
}

.addButn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.chefbutton{
    height: 50px;
}

.chefbuttoninner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-transform: capitalize;
    column-gap: 10px;
    font-weight: bold;
}


.paylogo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    max-width: 50px !important;
}

.paymentlist{
    padding: 12px;
    border-bottom:1px solid #e8e8e8;
}


.paymentrow{
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px;
}

.paylogo img{
    max-width: 50px;
    padding: 10px;
    width: 100%;
}

.paycontent{
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

.paycontent ion-text:first-child{
    font-weight: 600;
    font-size: 15px;
}

.paycontent ion-text:last-child{
    color: #b4b4b4;
    font-size: 12px;
    letter-spacing: -0.2px;
}

.rating{
    max-width: 90px;
}

.reviews{
    padding: 10px;
    background-color: #f8f6f4;
    border-radius: 15px;
    box-shadow: 2px 11px 52px -37px rgba(0,0,0,0.21);
}

.reviewcontainer{
    padding: 10px;
    row-gap: 15px;
}

.headingtext{
    font-weight: 600;
    font-size: 16px;
}

.reply{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.mainhead{
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 16px !important;
    padding: 0 10px !important;
}

.report{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 12px;
    color: #9a1a0a;
}

.reviewbtn{
    height: 50px;
}


.RateDesignInner{
    font-weight: 600;
    margin: 0;
    padding: 5px 10px;
    height: auto;
    color: #fff;
    background: #03A244;
    font-size: 12px;
    line-height: normal;
}

.boxcontent h3{
    font-size: 18px;
    text-align: start;
    font-weight: bold;

}

.ChipDesign{
    font-weight: 600;
    margin: 0;
    border-radius: 5px;
    padding: 5px 5px;
    height: auto;
    color: #00a94f;
    background: #e6f6f1;
    font-size: 12px;
    line-height: normal;
}

.chefbuttonouter{
    display: flex;
    column-gap:16px;
}

.chefbuttonouter ion-button{
    width: 100%;
}

.iconimg{
    max-width: 20px;
    padding-left: 10px;
}

